# Entorno virtual de Python
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de editores de código
.vscode/
.idea/

# Archivos de entorno con secretos
.env
.env.*

# Archivos de registro (logs)
*.log
logs/

# Datos pesados o datasets
data/
*.csv
*.jsonl

# Caché local de Hugging Face (si alguna vez corres fuera de Docker)
.cache/